.save-button 
{
    font: "Roboto", Helvetica, Arial, sans-serif;        
    background-color: #455a64;
    position: relative;
    color:white;
    transition: 0.4s;
    border-radius: 2px;
    padding:0.3em 0.3em;
}
.save-button:hover
{
    background-color: #8BC34A;
    color:white !important;
}
.save-button:visited
{
    color:white !important;
}
u
{
    display: inline-block;
    text-decoration: none;
}
